graft docs
graft examples
graft src
graft ci
graft tests

include .coveragerc
include .editorconfig

include AUTHORS.rst
include CHANGELOG.rst
include CONTRIBUTING.rst
include LICENSE
include README.rst

include *.txt

include tox.ini .codeclimate.yml .landscape.yml

global-exclude *.py[cod] __pycache__ *.so *.dylib
